<template name="cal">
    <style>
        .event {
            background: gray;
            width: inherit;
            border: 1px;
            display: inline-block;
            opacity: .5;
            position: fixed;
        }

        #day {
            width: inherit;
            position:relative;
        }
        #calbox {
            width: 500px;
        }

    </style>

    <div id="calbox">
       <table><tr>
           <td>{{> day da='Mo'}}</td>
           </tr>
       </table>
    </div>
</template>

<template name="day">
    <div id="day">
        {{#each dayevents da}}
            <div class="event" style="transform:translateY({{scalestart}}px); height:{{scaleduration}}px;">{{title}} ({{period}}) </div>
        {{/each}}
    </div>
</template>