<template name="cal">
    <style>
        .event {
            background: gray;
            opacity: .5;
            position: absolute;
            width: 98%;
        }
    </style>
    <div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                {{> day da='Th' wi=4}}
                {{> day da='F1' wi=4}}
                {{> day da='F2' wi=4}}
            </div>
        </div>
    </div>
    </div>

</template>

<template name="day">
    <div class="col-xs-{{wi}}" id="day">
        {{#each dayevents da}}
            <div class="event period-{{period}}" style="transform:translateY({{scalestart}}px); height:{{scaleduration}}px;">{{title}} ({{period}}) </div>
        {{/each}}
    </div>
</template>