<template name="cal">
    <style>
        .event {
            background: gray;
            opacity: 1;
            position: absolute;
            width: 98%;
            border-radius: 5px;
        }
    </style>
    <div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                {{> day da='Mo' wi=4}}
                {{> day da='Tu' wi=4}}
                {{> day da='We' wi=4}}
            </div>
        </div>
    </div>
    </div>

</template>

<template name="day">
    <div class="col-xs-{{wi}}" id="day">
        {{#each dayevents da}}
            <div class="event period-{{period}}" style="top:{{scalestart}}px; height:{{scaleduration}}px;">{{title}} ({{period}}) </div>
        {{/each}}
    </div>
</template>